# Big Data Wrangling With Google Books Ngrams

The Google Books Ngrams dataset provides a rich repository of word frequencies over time, sourced from books spanning multiple centuries. This notebook aims to extract, transform, and analyze the frequency of the term "data" over the years.

# 4. Create a Pyspark Dataframe

## 1. Data Loading

Pull data from the (public) S3 bucket into HDFS

Here we read data from the Hadoop Distributed File System (HDFS). We specifically target the English 1M 1-gram dataset.

In [1]:
# Read data from HDFS
df = spark.read.csv("/user/hadoop/eng_1M_1gram/", header=True, inferSchema=True)

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

## 2. Data Exploration

Describe the dataset

We initially view the schema and some rows of the dataset to get an understanding of its structure.

In [2]:
# Describe the dataset
df.printSchema()
df.show()
df.describe().show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- token: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- frequency: integer (nullable = true)
 |-- pages: integer (nullable = true)
 |-- books: integer (nullable = true)

+---------+----+---------+-----+-----+
|    token|year|frequency|pages|books|
+---------+----+---------+-----+-----+
|inGermany|1927|        2|    2|    2|
|inGermany|1929|        1|    1|    1|
|inGermany|1930|        1|    1|    1|
|inGermany|1933|        1|    1|    1|
|inGermany|1934|        1|    1|    1|
|inGermany|1935|        1|    1|    1|
|inGermany|1938|        5|    5|    5|
|inGermany|1939|        1|    1|    1|
|inGermany|1940|        1|    1|    1|
|inGermany|1942|        2|    2|    2|
|inGermany|1944|        2|    2|    2|
|inGermany|1946|        2|    2|    2|
|inGermany|1947|        3|    3|    2|
|inGermany|1948|        1|    1|    1|
|inGermany|1949|        1|    1|    1|
|inGermany|1952|        1|    1|    1|
|inGermany|1956|        1|    1|    1|
|inGermany|1957|        2|    2|    2|
|inGermany|1959|        1|    1|    1|
|inGermany|1960|        3|    3|    3|
+---------+----+---------+-----+-----+
only showing top 20 rows

+-------+---------+------------------+-----------------+------------------+-----------------+
|summary|    token|              year|        frequency|             pages|            books|
+-------+---------+------------------+-----------------+------------------+-----------------+
|  count|261823225|         261822793|        261822793|         261822793|        261822793|
|   mean|      NaN|1910.5024307452102|396.6344411924442|210.14619198948046| 33.4816582947383|
| stddev|      NaN| 66.05224930213528|47883.07879567001| 7149.963110116652|233.7042538654384|
|    min|        !|              1520|                1|                 1|                1|
|    max|       ，|              2008|         43571378|           2035864|             6174|
+-------+---------+------------------+-----------------+------------------+-----------------+

**Actionable Insights:**

**Schema:** The DataFrame has columns token, year, frequency, pages, and books with respective data types of string, integer, integer, integer, and integer.

**Size:** The DataFrame has 261,823,225 records.

**Shape:** The DataFrame's shape is 261,823,225 rows x 5 columns.

## 3. Data Filtering

Filter for the token "data"

To focus on the term "data", we filter the dataset to include only those rows where the token matches "data"

In [3]:
# Filter the data
data_df = df.filter(df.token == "data")
data_df.show()
data_df.describe().show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----+----+---------+-----+-----+
|token|year|frequency|pages|books|
+-----+----+---------+-----+-----+
| data|1584|       16|   14|    1|
| data|1614|        3|    2|    1|
| data|1627|        1|    1|    1|
| data|1631|       22|   18|    1|
| data|1637|        1|    1|    1|
| data|1638|        2|    2|    1|
| data|1640|        1|    1|    1|
| data|1642|        1|    1|    1|
| data|1644|        4|    4|    1|
| data|1647|        1|    1|    1|
| data|1651|        1|    1|    1|
| data|1674|        1|    1|    1|
| data|1690|        1|    1|    1|
| data|1693|        1|    1|    1|
| data|1697|        1|    1|    1|
| data|1699|        1|    1|    1|
| data|1700|        1|    1|    1|
| data|1701|       11|   11|    2|
| data|1702|        1|    1|    1|
| data|1703|        1|    1|    1|
+-----+----+---------+-----+-----+
only showing top 20 rows

+-------+-----+------------------+-----------------+------------------+------------------+
|summary|token|              year|        frequency|             pages|             books|
+-------+-----+------------------+-----------------+------------------+------------------+
|  count|  316|               316|              316|               316|               316|
|   mean| null|1847.5696202531647|38555.99367088608|21711.041139240508| 1493.110759493671|
| stddev| null| 96.87438222401165| 69212.3664179185| 34901.79774004759|1560.0408024002788|
|    min| data|              1584|                1|                 1|                 1|
|    max| data|              2008|           254561|            122472|              4372|
+-------+-----+------------------+-----------------+------------------+------------------+

This dataset consists of 5 columns:

- token: The word or string being 'data'.
- year: The year of the record for the token 'data'.
- frequency: Number of times the token 'data' appeared in that year.
- pages: Number of pages the token 'data' appeared on.
- books: Number of books the token 'data' appeared in.

## 4. Data Writing

Write the filtered data back to a directory in the HDFS from Spark

In [3]:
# Write the filtered data back to HDFS
data_df.write.csv("/user/hadoop/filtered_1gram", header=True)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…